











/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a{
  color:#009688
}
h4 {
    text-align: center;
    color: white;
}
label{
  color: white;
}


.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: #0d0d0e;
  background: -webkit-linear-gradient(top, #0202024d, #0000005d);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}


/*------------------------------------------------------------------
[ Form ]*/

.form-register {
  width: 400px;
  background: #121213a1;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;

}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}


.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #009688;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
    color:#009688;
    text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.botons {
  width: 100%;
  background: #009688;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.online{
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.online a{
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #009688;
  text-decoration: none;
}
.text{
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.text a{
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

footer{

  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

/*---------------------------------------------*/ 


/*==================================================================
[ Restyle Checkbox ]*/


/*------------------------------------------------------------------
[ Button ]*/



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/


@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
