* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    color:#009688
  }
  h4 {
      text-align: center;
  }
  body {
    background-image: url(../Image/WhatsApp\ Image\ 2021-02-10\ at\ 10.31.17\ PM.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .form-register {
    width: 400px;
    background: #121213a1;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #009688;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {

      color:#009688;
      text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #009688;
    border-radius: 15px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }
